###############################################################################
#
# Filter_sounds.sh script subdirectory configuration file for the
# "Default" subdirectory.
#
###############################################################################

# Set up which audio clips to make a softlink for. Ths syntax is:
#   <path to original file>|<path to softlink relative original file path>
SOFTLINK_SOUNDS="\
  "

# Set up which audio clips to maximize, or normalize, the amplitude for.
MAXIMIZE_SOUNDS="\
  "

# Set up which audio clips to trim away silence on. The SILENCE_LEVEL
# configuration variable in the main configuration file is used to set
# the silence threshold.
# The clips are also maximized (normalized)
TRIM_SOUNDS="\
  0 \
  1 \
  2 \
  3 \
  4 \
  5 \
  6 \
  7 \
  8 \
  9 \
  10 \
  11 \
  12 \
  13 \
  14 \
  15 \
  16 \
  17 \
  18 \
  19 \
  20 \
  2X \
  30 \
  3X \
  40 \
  4X \
  50 \
  5X \
  60 \
  6X \
  70 \
  7X \
  80 \
  8X \
  90 \
  9X \
  100 \
  200 \
  300 \
  400 \
  500 \
  600 \
  700 \
  800 \
  900 \
  1000 \
  2000 \
  3000 \
  4000 \
  5000 \
  6000 \
  7000 \
  8000 \
  9000 \
  "
