###############################################################################
#
# Filter_sounds.sh script subdirectory configuration file for the
# "" subdirectory.
#
###############################################################################

# Set up which audio clips to make a softlink for. Ths syntax is:
#   <path to original file>|<path to softlink relative original file path>
SOFTLINK_SOUNDS="\
  "

# Set up which audio clips to maximize, or normalize, the amplitude for.
MAXIMIZE_SOUNDS="\
  "

# Set up which audio clips to trim away silence on. The SILENCE_LEVEL
# configuration variable in the main configuration file is used to set
# the silence threshold.
# The clips are also maximized (normalized)
TRIM_SOUNDS="\
	CallSignName.wav
	card_Sample_Rate_help
	CardSampleRateName
	CtcssModeName
	DtmfMutingName
	ExecuteCmdOnSqlCloseName
	IdAfterTxName
	idle_timeout_help
	IdleTimeoutName
	LinksName
	loc_info_help
	LocInfoName
	long_id_delay_help
	LongIdDelayName
	LongIdIntName
	ModulesName
	name
	NoRepeatName
	online_cmd_help
	OnlineCmdName
	OpenOnSqlName
	open_on_squelch_flank_help
	OpenSqlFlankName
	restart_help
	RestartName
	roger_sound_delay_help
	RogerSoundDelayName
	RxName
	short_id_delay_help
	ShortIdDelayName
	ShortIdIntName
	SqlDetectName
	sql_extended_hangtime_help
	SqlExtendedHangtimeName
	sql_hangtime_help
	SqlHangtimeName
	sql_start_delay_help
	SqlStartDelayName
	SqlTailElimName
	squelch_detect_help
	timeout_help
	timeoutName
	tx_ctcss_help
	TxCtcssName
	TxDelayName
	TxName
  "
